/* Write some CSS below */
body {
  font-family: Overpass;
  font-size: 18px;
  color: rgb(30, 30, 30);
  background-color: rgb(240, 240, 240);
  margin: 0;
}

h1, h2, h3 {
  font-family: Chivo;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: blue;
}

/* Custom class design */
.btn-red {
  background-color: #FD1015;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
}

.banner {
  background-image: url(images/background.jpg);
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  margin-bottom: 40px;
  opacity: 0.7;
}

.card-white {
  background: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  padding: 16px;
  border-radius: 4px;
  margin: 16px auto;
  text-align: center;
  width: 80%;
}

.card-white p {
  opacity: 0.7;
}

.card-white img {
  width: 360px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.footer {
  background: rgb(100, 100, 100);
  padding: 24px 0;
  text-align: center;
  color: white;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .card-white img {
    width: 300px;
  }
}






